<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/test_next_events.css">
    <title>Bcc Syncer Test Page</title>
</head>
<body>
    <h1 class="title">Test Next 3</h1>
    <div style="padding-left: 10%; padding-right: 10%;">
        <iframe src="/events-next" frameBorder="1" style="border: none;" width="100%" height="900px"></iframe>
    </div>
    <!-- <iframe src="https://bcc-syncer.nw.r.appspot.com/events-next" height="1100px" style="border: none;"></iframe> -->
</body>
</html>